/* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/mulish-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --aside-width: 350px;
  --header-height: 100px;
  --footer-height: 50px;
  --padding: 25px;
  --site_latofonts: 'Lato';
  --site-mulishFonts:'Mulish';
  --switch-size: 20px;
  --switch-padding: 2.5px;
  --switch-height: calc(var(--switch-size) + 2 * var(--switch-padding));
  --switch-transition: 0.5s;
  --switch-bg-color: white;
  --switch-parent-color: black;
  --grayscale-gray: #9FA2B4;
}

aside {
  font-family: var( --site-mulishFonts);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--aside-width);
  height: 100vh;
  border-right: 2px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
}

.top-aside-list,
.aside-logo {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.bottom-aside-list {
  padding: var(--padding);
}

.aside-logo {
  display: flex;
  align-items: center;
  height: var(--header-height);
  font-size: 30px;
  text-transform: uppercase;
}



.aside-item {
  margin: 10px 0;
}

.aside-link {
  display: flex;
  gap: 20px;
  padding: 18px 0px;
  white-space: nowrap;
  font-size: 20px;
  color: black;
}
.aside-link > i{
  color:white;
  font-size: 30px;
}
.aside-link:hover{
  background-color: var(--grayscale-gray);
  opacity: 0.08;


}
.aside-link span {
  transition: 0.5s;
}
.aside.close .aside-link > i{
  font-size: 45px;
  color: #00CA39;
}
.aside.close > .top-aside-list > .aside-item:hover .aside-link{
  background-color: transparent;
  opacity: 0;
}
aside.close .aside-link span {
  opacity: 0;
}

.switch {
  height: var(--switch-height);
  width: calc(2 * var(--switch-size) + 2 * var(--switch-padding));
  padding: var(--switch-padding);
  border-radius: calc(var(--switch-height) / 2);
  appearance: none;
  transition: var(--switch-transition);
  background-color: var(--switch-parent-color);
}

.switch::after {
  content: "";
  display: inline-block;
  width: var(--switch-size);
  height: var(--switch-size);
  border-radius: 50%;
  transition: var(--switch-transition);
  background-color: var(--switch-bg-color);
}

.switch:checked {
  background-color: var(--switch-bg-color);
}

.switch:checked::after {
  margin-left: var(--switch-size);
  background-color: var(--switch-parent-color);
}

aside.close,
aside.close ~ * {
  --aside-width: 80px;
}

header,
main,
footer {
  position: fixed;
  left: var(--aside-width);
  width: calc(100vw - var(--aside-width));
  padding: var(--padding);
  transition: 0.5s;
}

header {
  top: 0;
  height: var(--header-height);
}

.hamburger {
  border: none;
  background-color: transparent;
}

.hamburger i {
  font-size: 30px;
}

main {
  top: var(--header-height);
  height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: auto;
}

footer {
  bottom: 0;
  height: var(--footer-height);
  border-top: 2px solid black;
}

.dark * {
  background-color: black;
  color: white !important;
}

.dark header, .dark aside, .dark footer {
  border-color: white;
}

/*  aside style satrt */

aside{  
  background: var(--sidebar-bg, #363740);
}

.aside-logo{  
  display: flex;
  gap: 18px;
}

.logo__area{  
  width: 34.915px;
  padding: 2px;
  border: 2px solid #DFE0EB;

}

.dash-board{  
  color: var(--sidebar-gray, #A4A6B3);
/* Bold/19px */
--site-mulishFonts:'Mulish';
font-size: 19px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.4px;
opacity: 0.7;
}

.link-texts-one{  
  width: 159px;
  color: var(--main-light-blue, #DDE2FF);
  /* Regular/16px */
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
}


.link-texts{  
  width: 159px;
  color: var(--sidebar-gray, #A4A6B3);
  /* Regular/16px */
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

/*  aside style end */

/* header style start */

.header{
  padding: 20px 30px;
}

.header__navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  }
  .header__navbar-link{
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .header__navbar-link > span{
    color: var(--grayscale-black, #252733);
    text-align: right;
    font-family: var(--site-mulishFonts);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
  }

  .nav__link-pic{
    border-radius: 50%;
    width: 75px;
    border:3px solid  #DFE0EB;
    padding: 5px;
    transition: all .9s;
  }
  .nav__link-pic:hover{
    transform: scale(1.2);
  }
/* header style end */

/* main style start */


.main__header{  
  display: flex;
  justify-content: space-between;
}

.main__heading{ 
  width: 180px;
height: 47px;
flex-shrink: 0;
color: #000;
font-family: "Lato";
font-size: 39px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.btn-group{ 
  display: flex;
  gap: 12px;

}

.btn-dot{
  width: 71.094px;
  height: 35.501px;
  flex-shrink: 0;
  border: none;
  border-radius: 3px;
}
.btn-dot:hover{
  transform: scale(1.2);
  transition: 0.5s;
  background-color: pink;
  color: black;
}

.btn-add{ 
  width: 71.094px;
  height: 35.501px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #10CD45;
  border: none;
  color: #FFF;


}
.btn-add:hover{
  transform: scale(1.2);
  transition: 0.5s;
  background-color: pink;
  color: black;
}



.main__header{
  margin-bottom: 64px;
}

.main__table{ 
  margin-bottom: 44px;
}

table{
height: 500px;
width: 100%;
}

.thead > tr th{
  text-align: left;
}

.main__top{ 
  padding-top: 64px;
}


.row_one{ 
  margin-top: 44px;
}
tr td{
  padding: 16px 19px;
}


.pad_top{ 
  display: flex;
  align-items: center;
  gap: 24px;
}

table tbody tr:nth-child(odd){  
  height: 66px;
  padding: 24px 19px;
  z-index: -.0.9;
  opacity: 0.4;
  background: #EEF2F5;
}
.green_area{ 
  color: red;
}

.red_area{
  color: #00CA39;
}
.names-area{  
  color: #414141;
font-family: "Lato";
font-size: 14px;
font-weight: 500;
}

.personal_information{  
  margin-bottom: 20px;
}























